p-autocomplete {
  display: block !important;
  width: 100% !important;
}

span.ng-tns-c42033257-11.p-autocomplete.p-component {
  width: 100% !important;
}

p-autocomplete span input {
  width: 100% !important;
}

input.p-element.p-autocomplete-input.p-inputtext.p-component {
  width: 100% !important;
}

h5{
  color: #00a5e4 !important;
}
