.custom-thead th{
  font-size: 12px !important;
  color: #00a5e5;
}

.highlight{
  background-color: #00a5e5 !important;
  color: white !important;
  text-align: center !important;
}

.no-element{
  height: 50vh;
  width: 100%;
  padding-top: 10%;
  display: flex;
  justify-content: center;
  text-align: center;
}

