.custom-label {
  font-weight: 400 !important;
  color: #00a5e4 !important;
  margin-bottom: 2px !important;
}

.custom-thead th {
  color: #00a5e4 !important;
}

.custom-button {
  background-color: #00a5e5 !important;
  color: #fff !important;
}

.highlight {
  background-color: #00a5e5 !important;
  color: white !important;
  text-align: center !important;
}

.button-wrapper {
  width: 60px;
  text-align: center;
  font-size: x-small;
}

.p-overlaypanel-content {
  padding: 5px !important;
}

.btn-overlay {
  width: 100%;
  margin: 5px 5px;
}

.btn-overlay button {
  width: 100%;
  border-radius: 5px;
}

.status {
  font-weight: bold !important;
}

.concluido {
  color: green;
}

.pendente {
  color: red;
}
