.breadcrumb {
  color: #00a5e4;
}

.main-container{
  padding: 20px;
}

.menu-button{
  background-color: #00354c;
}

.menu-button img{
 margin-bottom: 10px;
}

.menu-button span{
 font-size: x-large;
 font-weight: bold;
}
