<div class="main-container">
  <div class="row mb-3">
    <div class="col-3 justify-content-start">
      <i
        class="fa fa-home"
        style="margin-right: 10px; color: #00a5e4; font-size: 20px"
      ></i
      ><span>Página Inicial</span>
    </div>
    <!-- <div class="col-6"></div> -->
    <div class="col-3 offset-6 justify-content-end">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          style="height: 50px"
          aria-label="Text input with dropdown button"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            style="background-color: #00a5e4; color: white; font-weight: bold"
            type="button"
          >
            <i
              class="fa fa-search"
              style="margin-right: 10px; color: white"
            ></i>
            Pesquisar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-12" style="padding: 20px">
      <div class="row">
        <div class="col-12">
          <p class="mb-1">
            <strong
              >Olá <span style="color: #00a5e4">Fulano de Tal</span>, bem-vindo
              ao Sistema de Gestão de Estruturas Civis</strong
            >
          </p>
          <p>O que você deseja?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <button
            class="btn btn-primary btn-block btn-lg menu-button"
            style="height: 200px"
            [routerLink]="['/estruturas']"
          >
            <img src="assets/icons/building.svg" alt="" /><br />
            <span>Cadastrar Estruturas</span>
          </button>
        </div>
        <div class="col-4">
          <button
            class="btn btn-primary btn-block btn-lg menu-button"
            [routerLink]="['/cadastrar-inspecao-op']"
            style="height: 200px"
          >
            <img src="assets/icons/search_building.svg" alt="" /><br />
            <span>Inspeção de Estrutura</span>
          </button>
        </div>
        <div class="col-4">
          <button
            class="btn btn-primary btn-block btn-lg menu-button"
            style="height: 200px"
          >
            <img src="assets/icons/chart.svg" alt="" /><br />
            <span>Relatórios</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
