.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  padding-right: 100px !important;
  padding-left: 100px !important;
  background-color: pink !important;
}
.custom-label {
  font-weight: 400 !important;
  color: #00a5e4;
  margin-bottom: 2px !important;
}

.p-calendar {
  width: 100% !important;
}

.table-title {
  font-size: larger;
  font-weight: bold !important;
  color: #00a5e4;
  margin-bottom: 10px !important;
}

.button-container button .p-button-icon {
  font-size: 1px;
}

th {
  font-size: 12px;
}

td {
  font-size: 12px;
}

tbody, th, thead{
  height: 60px !important;
}

.p-tabview-panels{
  margin-bottom: 200px !important;
}
