<div class="main-container">
  <div class="row mt-2">
    <div class="col-3 justify-content-start">
      <i
        class="fa fa-building"
        style="margin-right: 10px; color: #00a5e4; font-size: 20px"
      ></i
      ><span>Estruturas > <strong>Cadastrar Estruturas</strong></span>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <p-tabView>
        <p-tabPanel header="ESTRUTURA">
          <div class="tab-content">
            <div class="row">
              <div class="form-group col-lg-2 col-md-3">
                <label for="select-tipo" class="custom-label"
                  >Tipo de Estrutura</label
                >
                <select class="form-control" id="select-tipo">
                  <option *ngFor="let tipo of tiposEstruturas" [value]="tipo">
                    {{ tipo.nome }}
                  </option>
                </select>
              </div>
              <div class="form-group col-lg-2 col-md-3">
                <label for="select-tipo" class="custom-label">Câmara *</label>
                <select class="form-control" id="select-tipo">
                  <option [value]="null">Não aplicável</option>
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                </select>
              </div>
              <div class="form-group col-lg-2 col-md-3">
                <label for="select-tipo" class="custom-label">Células *</label>
                <select class="form-control" id="select-tipo">
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                </select>
              </div>
              <div class="form-group col-lg-2 col-md-3">
                <label for="select-tipo" class="custom-label">Material *</label>
                <select class="form-control" id="select-tipo">
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                </select>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label for="capacidade" class="custom-label"
                    >Capacidade *</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="capacidade"
                    placeholder="Ex: 00 m³"
                    aria-label="Nome da Estrutura"
                  />
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class="custom-label" for="situacao">Situações</label>
                  <select class="form-control" id="situacao">
                    <option [value]="null" selected>Situação</option>
                    <option
                      *ngFor="let situacao of situacoes"
                      [value]="situacao"
                    >
                      {{ situacao.nome }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2">
                <label class="custom-label" for="date_construcao"
                  >Data de Construção</label
                >
                <p-calendar id="date_construcao"></p-calendar>
              </div>
              <div class="col-lg-2">
                <label class="custom-label" for="date_operacao"
                  >Data de Operação</label
                >
                <p-calendar id="date_operacao"></p-calendar>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="DADOS GERAIS">
          <div class="tab-content">
            <div class="row">
              <div class="col-lg-2">
                <div class="form-group">
                  <label for="codigo-sigec" class="custom-label"
                    >Código SIGEC</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="codigo-sigec"
                    aria-label="Código SIGEC"
                  />
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label for="codigo-sap" class="custom-label"
                    >Código SAP</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="codigo-sap"
                    aria-label="Código SAP"
                  />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label for="nome-estrutura" class="custom-label"
                    >Nome da Estrutura</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="nome-estrutura"
                    aria-label="Nome da Estrutura"
                  />
                </div>
              </div>
              <div class="form-group col-2">
                <label for="select-unidade" class="custom-label">Unidade</label>
                <select class="form-control" id="select-unidade">
                  <option>Centro</option>
                  <option>Zona Leste</option>
                  <option>Zona Sul</option>
                  <option>Zona Norte</option>
                </select>
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col">
                <h3>Local</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2">
                <div class="form-group">
                  <label for="cep" class="custom-label">CEP</label>
                  <input
                    mask="00000-000"
                    type="text"
                    class="form-control"
                    id="cep"
                    aria-label="CEP"
                  />
                </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <label for="cep" class="custom-label">Endereço*</label>
                  <input
                    type="text"
                    class="form-control"
                    id="cep"
                    aria-label="CEP"
                  />
                </div>
              </div>
              <div class="col-lg-1">
                <div class="form-group">
                  <label for="cep" class="custom-label">Número</label>
                  <input
                    type="text"
                    class="form-control"
                    id="cep"
                    aria-label="CEP"
                  />
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class="custom-label" for="uf">Estado</label>
                  <select class="form-control" id="uf">
                    <option [value]="null" selected>Selecione a UF</option>
                    <option *ngFor="let uf of ufs" [value]="uf.sigla">
                      {{ uf.nome }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label class="custom-label" for="uf">Município*</label>
                  <select class="form-control" id="uf">
                    <option [value]="null" selected>
                      Selecione o Município
                    </option>
                    <option *ngFor="let uf of ufs" [value]="uf.sigla">
                      {{ uf.nome }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-2">
                <button type="button" class="btn btn-outline-primary w-100">
                  Editar Campos
                </button>
              </div>
              <div class="col-lg-2">
                <button type="button" disabled class="btn btn-primary w-100">
                  Salvar Alterações
                </button>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="ANEXOS">
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
            est et expedita distinctio. Nam libero tempore, cum soluta nobis est
            eligendi optio cumque nihil impedit quo minus.
          </p>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
