.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  padding-right: 100px !important;
  padding-left: 100px !important;
  background-color: pink !important;
}
.custom-label {
  font-weight: 400 !important;
  color: #00a5e4;
  margin-bottom: 2px !important;
}

.p-calendar {
  width: 100% !important;
}
