<div class="main-container">
  <div class="row">
    <div class="col d-flex align-items-center justify-content-center">
      <img src="assets/icons/check.svg" />
    </div>
  </div>
  <div class="row mt-4">
    <div class="col d-flex align-items-center justify-content-center">
      <p style="font-size: large" [innerHTML]="message"></p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2"></div>
    <div class="col-4">
      <p-button
        styleClass="w-100 p-button-outlined"
        label="Voltar"
        (click)="onCancel()"
      ></p-button>
    </div>
    <div class="col-4">
      <p-button
        styleClass="w-100"
        [label]="confirmLabel"
        (click)="onConfirmar()"
      ></p-button>
    </div>
    <div class="col-2"></div>
  </div>
</div>
